<apex:page controller="FitHomeController" action="{!authenticate}" readOnly="true" >
    <apex:pageBlock >
        <apex:pageBlockTable value="{!dsl.dataSource}" var="ds">
            <apex:column value="{!ds.dataStreamName}" headerValue="Data Stream Name" onclick="getData('{!ds.dataStreamId}');" style="cursor : pointer;"/>
            <apex:column value="{!ds.type}" headerValue="Type"/>
            <apex:column value="{!ds.dataType.name}" headerValue="Data Type"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
    <apex:outputPanel id="dataOp">
        <apex:outputLabel >Data Stream:&nbsp;{!dataStreamId}</apex:outputLabel><br/>
        <apex:outputLabel >Min. Start Time (Ns):&nbsp;{!dsVal.minStartTimeNs}</apex:outputLabel><br/>
        <apex:outputLabel >Max. End Time (Ns):&nbsp;{!dsVal.maxEndTimeNs}</apex:outputLabel>
        <apex:pageBlock >
            <apex:pageBlockTable value="{!dsVal.point}" var="p">
                <apex:column value="{!p.startTimeNanos}" headerValue="startTimeNanos"/>
                <apex:column value="{!p.endTimeNanos}" headerValue="endTimeNanos"/>
                <apex:column value="{!p.value[0].intVal}" headerValue="intVal"/>
                <apex:column value="{!p.value[0].fpVal}" headerValue="fpVal"/>
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:outputPanel>
    <apex:form >
        <apex:actionFunction action="{!getData}" name="getData" reRender="dataOp" status="status">
            <apex:param assignTo="{!dataStreamId}" name="dataStreamId" value=""/>
        </apex:actionFunction>
        <apex:actionStatus id="status">
            <apex:facet name="start">
                <apex:outputPanel layout="block" style="width: 100%;height: 100%;position:absolute;top:0px;left:0px;opacity:0.5;background-color:grey;">
                    <center><apex:image url="/img/loading32.gif" style="position: absolute; top:50%;"/></center>
                </apex:outputPanel>
            </apex:facet>
        </apex:actionStatus>
    </apex:form>
</apex:page>