<apex:page standardController="Account" sidebar="false" showHeader="false">

  <apex:pageBlock title="Examination Module">
  
   <apex:pageBlockSection title="Examination">
       <apex:outputField value="{!account.Name}"/>
       <apex:outputField value="{!account.Owner.Name}"/>
       
   </apex:pageBlockSection>
        
        <apex:pageBlockTable value="{! account.contacts}" var="item">
                <apex:column value="{! item.name}"/>
       </apex:pageBlockTable>
      
        
  </apex:pageBlock>
  
  
  <apex:pageBlock title="Contacts">
    <apex:outputPanel id="contactDetails">
       <apex:detail subject="{!$CurrentPage.parameters.cid}" relatedList="false" title="false"/>
    </apex:outputPanel>

  <apex:form >
       <apex:dataList value="{! account.Contacts}" var="contact">
       <apex:commandLink rerender="contactDetails">
             {! contact.Name}
             <apex:param name="cid" value="{! contact.id}"/>
      </apex:commandLink>
      </apex:dataList>
  </apex:form>
  
  <apex:outputLink value="http://developer.salesforce.com/">Click me!</apex:outputLink>
</apex:pageBlock>
  
 
  <apex:outputLink value="{! URLFOR($Action.Account.new)}">Create</apex:outputLink>
  
  
  
 
<apex:form >
<apex:pageBlock >
<apex:pageMessages />

<apex:pageBlockSection >
<apex:inputField value="{!account.name}"/>
<apex:inputField value="{!account.industry}"/>
<apex:commandButton action="{!save}" value="Save!"/>
<apex:commandButton action="{!quicksave}" value="Quick Save!"/>
<apex:commandLink action="{!save}" value="Save!"/>
</apex:pageBlockSection>
</apex:pageBlock>
</apex:form>


<p>Test Before</p>
<apex:include pageName="MainPage"/>
<p>Test After</p>


</apex:page>